img {
    max-width: 1000px;
    height: 400px;
    margin: 420px;
}

main {
    background-color: #000;
}

.tall {
    color: rgb(255, 253, 253);
    font-size: 60px;
    position: absolute;
    top: 400px;
}